body {
    background-color: white;
}

html, body{
    height:100%;
}

.welcome{
    position: relative;
    height: 880px;
    width: 100%;
    background-image: url(1Lp.png);
    background-size: cover ;
}

.nosotros{
    position: relative;
    height: 880px;
    width: 100%;
    background-image: url(nosotros.png);
    background-size: cover ;
}
.withUs{
  position: relative;
  height: 880px;
  width: 100%;
  background-image: url(bolsaTrabajo.png);
  background-size: cover ;
  display: flex;

}
.withUs .contain{
  margin-top: 100px;
}
.withUs .body{
  color: #fff;
  font-size: 20px;
}
.body .body-bold{
  font-weight: 800;
}
.margin-input{
  margin-bottom: 20px;
}
.sub-title{
  color: #fff;
  letter-spacing: 3px;
  font-size: 33px;
  font-weight: 600;
}

.tecnica{
    position: relative;
    height: 880px;
    width: 100%;
    background-image: url(tecnica.png);
    background-size: cover ;
}

.gRow{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content:flex-start;
    align-content: center;
}

h1.welcome-title{
    font-size: 55px;
    color: #fff;
    height: 100px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin: 16px 0 0 145px;
}

h2.welcome-text{
    font-size: 25px;
    color: #fff;
    height: 200px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 16px 0 0 145px;
}

h1.nosotros-title{
    color: #fff;
    font-size: 31px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 16px 0;
    margin:0 0 8px;
}

h2.nosotros-text{
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin: 16px 0 0;
    line-height: 1.6;
}

.tecnica-title{
    color: #fff;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 16px 0;
    text-align: right;
    justify-self: flex-end;
    padding: 0 0;
}

p.tecnica-sub{
    color: #fff;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 200;
    margin: 16px 16px;
}

p.tecnica-body{
    color: #fff;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 800;
    margin: 16px 16px;
}

hr.tecnica{
    height:1.5px;
    border:none;
    color:white;
    background-color:white;
    margin: 0;
    padding: 0;
}

.right-square{
    position: absolute;
    top:550px;
    animation-name: square;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    right: 0;
}

.left-square{
    position: absolute;
    top:550px;
    left: 0px;
    animation-name: square;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
.flex{
  display: flex;
}

.right-square-top{
    position: absolute;
    top:0px;
    right: 0;
    animation-name: square-top;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes square {
    0%{top:550px;}
    50% {top:500px;}
    100%{top:550px;}
  }

  @keyframes square-top {
    0%{top:0;}
    50% {top:50px;}
    100%{top:0px;}
  }

@media only screen and (min-width:1460px) {
    .welcome{
        background-position-y: -160px;
    }
}

@media only screen and (min-width:1725px) {
    .welcome{
        background-position-y: -320px;
    }
}

@media only screen and (min-width:2000px) {
    .welcome{
        background-position-y: -480px;
    }
}

@media only screen and (min-width:2265px) {
    .welcome{
        background-position-y: -640px;
    }
}

@media only screen and (min-width:2535px) {
    .welcome{
        background-position-y: -800px;
    }
}

@media only screen and (min-width:1310px) {
    .nosotros{
        background-position: right bottom;
    }
}

@media only screen and (min-width:2016px) {
    .nosotros{
        background-position: left bottom;
        background-position-y: 1015px;
    }
}

@media only screen and (max-width:740px) {
    .welcome{
        background-position-x: -400px;
    }
    .nosotros{
        background-position-x: -400px;
    }
}

@media only screen and (max-width:660px) {
    .left-square{
        display: none;
    }
}

@media only screen and (max-width:535px) {
    .nosotros{
        background-position-x: -700px;
        background-position: right bottom;
    }
}

@media only screen and (max-width:580px) {
    .right-square-top{
        display: none;
    }
}

@media only screen and (min-width:1520px) {
    .tecnica-title{
        text-align: center;
    }
}
